{
  "gamePaksDir": "D:\\Games\\YourGame\\Content\\Paks",
  "dataPak": "D:\\Games\\YourGame\\Content\\Data\\data.pak",
  "playerDataDir": "C:\\Users\\you\\AppData\\Local\\YourGame\\Saved\\PlayerData",
  "extractedDir": "extracted",
  "pakAesKey": "64_HEX_CHARS_OR_BASE64_AES_256_KEY",
  "defaultMountPoint": "../../../YourGame/Content/data/",
  "games": {
    "Icarus": {
      "paksDir": "D:\\SteamLibrary\\steamapps\\common\\Icarus\\Icarus\\Content\\Paks",
      "dataPak": "D:\\SteamLibrary\\steamapps\\common\\Icarus\\Icarus\\Content\\Data\\data.pak",
      "playerDataDir": "C:\\Users\\you\\AppData\\Local\\Icarus\\Saved\\PlayerData",
      "mountPoint": "../../../Icarus/Content/data/AI/"
    },
    "PacificDrive": {
      "paksDir": "D:\\Games\\Pacific Drive\\PenDriverPro\\Content\\Paks",
      "mountPoint": "../../../PenDriverPro/",
      "pakAesKey": "BASE64_OR_64_CHAR_HEX_AES_256_KEY"
    }
  }
}
