{
  "icarusPaksDir": "D:\\SteamLibrary\\steamapps\\common\\Icarus\\Icarus\\Content\\Paks",
  "icarusDataPak": "D:\\SteamLibrary\\steamapps\\common\\Icarus\\Icarus\\Content\\Data\\data.pak",
  "demoExtractedDir": "extracted",
  "icarusMountPoint": "../../../Icarus/Content/data/Crafting/"
}
